header {
	nav {
		ul {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			> li {
				position: relative;

				a {
					display: block;
					padding: 8px;
					text-decoration: none;
					color: #000;
				}

				ul {
					display: none;
					position: absolute;
					top: 100%;
					left: 0;
				}

				&:hover {
					ul {
						display: block;
						background-color: #fff;
					}
				}
			}
		}
	}
}
