@import '_reset.scss';
@import '_variables.scss';
@import '_classes.scss';

@import '_header.scss';
@import '_banner.scss';
@import '_footer.scss';

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;

	main {
		width: 100%;
	}
}
